@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Inconsolata:wght@200;300&family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Dancing+Script:wght@400;500;600;700&family=Inconsolata:wght@200;300&family=Noto+Serif+Georgian&family=Rubik+Iso&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  ::-webkit-scrollbar{
   width: 7px;
  }
  ::-webkit-scrollbar-track{
   background: transparent;
   margin-right: 2px;
  }
  ::-webkit-scrollbar-thumb{
   background: rgba(255, 255, 255, 0.122);
   border-radius: 12px;
   border: 0px solid transparent;
  }
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
